---
import Layout from '../layouts/Layout.astro';
import { Picture } from 'astro:assets';

const date = new Date().getFullYear();

import amazingWork01 from '../assets/inclusive-accessible-marketing-website-design-01.png';
import amazingWork02 from '../assets/inclusive-accessible-marketing-website-design-02.png';
import amazingWork03 from '../assets/inclusive-accessible-marketing-website-design-03.png';
import caseStudy01 from '../assets/marketing-brand-transformation-case-study-01.png';
import caseStudy02 from '../assets/marketing-brand-transformation-case-study-02.png';
---

<Layout title="20 years of elevated branding and web design">
  <header
    id="hero"
    class="cover bg-gradient bg-gradient-to-tl from-mint-vivid-300 to-mint-vivid-200 text-mint-vivid-900"
  >
    <nav
      class="cluster box text-center justify-between bg-transparent text-white"
    >
      <a
        href="/"
        class="flex-justify-center items-center text-mint-900 hover:text-mint-vivid-800 transition duration-300 ease-in-out"
      >
        <svg
          viewBox="0 0 40 40"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          class="w-l h-auto"
        >
          <title>Hoverboard Media logo</title>
          <path
            id="ring"
            fill="currentColor"
            d="M25.958,36.376c-9.025,3.291 -19.003,-1.372 -22.288,-10.416c-3.284,-9.045 1.368,-19.045 10.393,-22.337c9.024,-3.292 19.001,1.373 22.286,10.416c3.285,9.044 -1.368,19.046 -10.391,22.337m13.174,-18.123l0.23,-3.349l-1.871,-2.785l-0.867,-3.242l-2.672,-2.024l-1.871,-2.784l-3.183,-1.045l-2.671,-2.026l-3.349,0.048l-3.183,-1.046l-3.152,1.134l-3.348,0.048l-2.614,2.098l-3.153,1.134l-1.792,2.836l-2.614,2.099l-0.776,3.265l-1.793,2.836l0.324,3.34l-0.777,3.266l1.388,3.055l0.323,3.34l2.303,2.437l1.388,3.056l2.968,1.556l2.302,2.437l3.312,0.507l2.966,1.556l3.296,-0.599l3.311,0.506l2.923,-1.638l3.295,-0.599l2.234,-2.501l2.922,-1.639l1.303,-3.093l2.234,-2.501l0.229,-3.349l1.303,-3.093l-0.868,-3.241Z"
          ></path>
          <g id="hm">
            <path
              id="left"
              fill="currentColor"
              d="M23.662,17.157c-1.188,0.433 -1.854,1.088 -2.342,1.708c0.206,0.417 0.38,0.822 0.556,1.307l2.918,8.035l-0.037,0.014l-2.675,0.976l-0.038,0.013l-3.023,-8.325c-0.45,-1.238 -1.282,-1.568 -2.566,-1.099c-1.259,0.458 -2.007,1.118 -2.529,1.721l3.421,9.416l-2.713,0.99l-7.545,-20.775c-2.749,4.034 -3.588,9.289 -1.793,14.229c2.957,8.146 11.943,12.345 20.07,9.381c2.082,-0.759 3.903,-1.917 5.415,-3.353l-4.835,-13.312c-0.415,-1.141 -1.218,-1.315 -2.284,-0.926"
            ></path>
            <path
              id="right"
              fill="currentColor"
              d="M14.654,5.251c-2.082,0.76 -3.903,1.917 -5.414,3.354l3.919,10.789c0.742,-0.903 1.684,-1.631 2.919,-2.081c0.072,-0.026 0.138,-0.045 0.208,-0.07l-0.001,-0.006c1.273,-0.464 2.243,-0.494 2.981,-0.213c0.21,0.065 0.407,0.149 0.592,0.254c0.809,-1.156 2.087,-2.106 3.402,-2.586c2.858,-1.042 4.561,0.096 5.397,2.402l4.274,11.767c2.749,-4.034 3.588,-9.289 1.794,-14.229c-2.958,-8.144 -11.944,-12.346 -20.071,-9.381"
            ></path>
          </g>
        </svg>
      </a>
      <ul role="list" class="header-links flex gap-m my-zero">
        <li><a href="#packages">See our packages</a></li>
        <li><a href="#case-studies">Case studies</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    <h1
      class="tracking-tight font-black text-[15vw] md:text-[10vw] lg:text-[8vw] mt-zero leading-tight"
    >
      Ele<span class="tracking-[-0.125em]">va</span>ting brands be<span
        class="tracking-[-0.1em]">y</span
      >ond the ordinary
    </h1>
  </header>

  <section
    class="flex flex-col flow -mt-2xl md:-mt-3xl md:grid pt-zero overflow-x-clip"
    data-layout="twelfths"
  >
    <Picture
      src={amazingWork03}
      widths={[300, 800, 2000, amazingWork03.width]}
      sizes={`(max-width: 300px) 300px, (max-width: 800px) 800px, (max-width: 1600px) 2000px, ${amazingWork03.width}px`}
      pictureAttributes={{
        class:
          'object-contain h-full w-full md:row-start-1 md:row-span-6 md:col-start-4 md:col-span-6 z-10 rotate-2 md:rotate-0 will-change-transform transition duration-300 ease-in-out hover:scale-105 hover:rotate-1',
      }}
      class={'object-contain h-full w-full md:row-start-1 md:row-span-6 md:col-start-4 md:col-span-6 z-10 rotate-2 md:rotate-0 will-change-transform transition duration-300 ease-in-out hover:scale-105 hover:rotate-1'}
      alt="Accessible inclusive design"
      formats={['avif', 'webp']}
      decoding="sync"
      loading="eager"
    />
    <Picture
      src={amazingWork02}
      widths={[300, 800, 2000, amazingWork02.width]}
      sizes={`(max-width: 300px) 300px, (max-width: 800px) 800px, (max-width: 1600px) 2000px, ${amazingWork02.width}px`}
      pictureAttributes={{
        class:
          'object-contain h-full w-full md:row-start-2 md:row-span-5 md:col-start-1 md:col-span-5 -rotate-2 will-change-transform transition duration-300 ease-in-out hover:scale-105 hover:-rotate-1',
      }}
      class={'object-contain h-full w-full md:row-start-2 md:row-span-5 md:col-start-1 md:col-span-5 -rotate-2 will-change-transform transition duration-300 ease-in-out hover:scale-105 hover:-rotate-1'}
      alt="B2C inclusive design"
      formats={['avif', 'webp']}
      decoding="sync"
      loading="eager"
    />
    <Picture
      src={amazingWork01}
      widths={[300, 800, 2000, amazingWork01.width]}
      sizes={`(max-width: 300px) 300px, (max-width: 800px) 800px, (max-width: 1600px) 2000px, ${amazingWork01.width}px`}
      pictureAttributes={{
        class:
          'object-contain h-full w-full md:row-start-2 md:row-span-5 md:col-start-8 md:col-span-5 rotate-2 will-change-transform transition duration-300 ease-in-out hover:scale-105 hover:rotate-1',
      }}
      class={'object-contain h-full w-full md:row-start-2 md:row-span-5 md:col-start-8 md:col-span-5 rotate-2 will-change-transform transition duration-300 ease-in-out hover:scale-105 hover:rotate-1'}
      alt="Ice cream franchise inclusive design"
      formats={['avif', 'webp']}
      decoding="sync"
      loading="eager"
    />
  </section>
  <article id="main">
    <section class="text-gray-1200 border-b-4 border-b-gray-1200">
      <div class="wrapper">
        <div class="box flow prose flex flex-col justify-center region">
          <h2 class="mt-zero leading-flat">
            Hoverboard Media specializes in bespoke web design and digital
            branding that leaves a lasting impression.
          </h2>
          <p class="text-step-2 leading-fine">
            For over two decades, we've helped brands stand out with beautiful,
            effective, and memorable websites. Our commitment to innovation and
            accessibility ensures your brand not only stands out but remains
            timeless.
          </p>
          <div class="mx-auto text-indigo-900">
            <a href="#packages" class="button">See our packages</a>
          </div>
        </div>
      </div>
    </section>
    <section
      class="bg-mint-vivid-400 text-mint-900 region relative border-b-4 border-b-mint-vivid-900 overflow-clip"
    >
      <img
        src="/images/crosses.svg"
        width="1092"
        height="1092"
        class="embel z-0"
        aria-hidden="true"
        loading="lazy"
        data-type="muted"
        data-position="center-right"
      />
      <div class="wrapper z-10">
        <div class="box flow prose flex flex-col justify-center">
          <h2>Why choose Hoverboard Media?</h2>
          <p class="text-step-2 leading-fine">
            At Hoverboard Media, we're dedicated to crafting designs that are
            not only contemporary but enduring. With two decades of expertise,
            we've perfected the art of timeless design, ensuring your brand
            stays relevant and impactful year after year. Here's how we do it:
          </p>
        </div>
      </div>
      <div
        class="flex flex-col gap-m box min-[990px]:grid text-gold-900"
        data-layout="thirds"
      >
        <div
          class="z-10 drop box border-solid border-4 border-gold-vivid-900 bg-gold-200 flow prose row-start-1 row-span-1 col-start-1 col-span-1"
          style="--spot-color: var(--color-gold-vivid-900);"
        >
          <h3>Inclusive</h3>
          <p>
            We start every design with inclusivity in mind, making sure each
            site is accessible and easy to navigate. By exceeding WCAG
            standards, we open your brand up to the widest possible audience,
            enhancing both reach and impact.
          </p>
        </div>
        <div
          class="z-10 drop box border-solid border-4 border-gold-vivid-900 bg-gold-200 flow prose row-start-1 row-span-1 col-start-2 col-span-1"
          style="--spot-color: var(--color-gold-vivid-900);"
        >
          <h3>Appropriate</h3>
          <p>
            We meticulously tailor every element to your brand's identity and
            the emotional impact you want to achieve. Whether it's bold and
            dynamic for a sports brand or elegantly understated for a luxury
            retailer, we ensure the design aligns perfectly with your brand's
            essence.
          </p>
        </div>
        <div
          class="z-10 drop box border-solid border-4 border-gold-vivid-900 bg-gold-200 flow prose row-start-1 row-span-1 col-start-3 col-span-1"
          style="--spot-color: var(--color-gold-vivid-900);"
        >
          <h3>Distinctive</h3>
          <p>
            We believe in creating designs that make a mark. By focusing on
            distinctive elements, we ensure your brand stands out in a crowded
            marketplace. Our designs are crafted to be memorable, keeping your
            brand in the minds of your audience long after they've left your
            site.
          </p>
        </div>
      </div>
      <div
        class="flex flex-col gap-m box min-[990px]:grid text-gold-900"
        data-layout="thirds"
      >
        <div
          class="z-10 drop box border-solid border-4 border-gold-vivid-900 bg-gold-200 flow prose row-start-1 row-span-1 col-start-1 col-span-1"
          style="--spot-color: var(--color-gold-vivid-900);"
        >
          <h3>Simple</h3>
          <p>
            In a world cluttered with information, simplicity wins. Our design
            philosophy is about stripping away the unnecessary, focusing on what
            truly matters to your audience. This clarity not only enhances the
            user experience but also strengthens the communication of your
            brand's message.
          </p>
        </div>
        <div
          class="z-10 drop box border-solid border-4 border-gold-vivid-900 bg-gold-200 flow prose row-start-1 row-span-1 col-start-2 col-span-1"
          style="--spot-color: var(--color-gold-vivid-900);"
        >
          <h3>Emotionally Resonant</h3>
          <p>
            Every design choice we make aims to invoke specific
            emotions—timelessness, status, comfort, safety, purity, power, or
            peace of mind. We understand that the right emotional connection can
            transform a simple visit to your site into a lasting relationship
            with your audience.
          </p>
        </div>
        <div
          class="z-10 drop box border-solid border-4 border-gold-vivid-900 bg-gold-200 flow prose row-start-1 row-span-1 col-start-3 col-span-1"
          style="--spot-color: var(--color-gold-vivid-900);"
        >
          <h3>Built for Belonging</h3>
          <p>
            Our designs do more than just look good—they create a sense of
            connection and belonging. By considering the nuances of your brand
            and its audience, we craft websites that resonate deeply, fostering
            a community around your brand.
          </p>
        </div>
      </div>
    </section>
    <section
      id="packages"
      class="bg-blue-400 text-blue-1000 border-b-4 border-b-blue-vivid-900 relative overflow-clip"
    >
      <img
        src="/images/dots.svg"
        width="735"
        height="285"
        class="embel z-0"
        aria-hidden="true"
        loading="lazy"
        data-type="muted"
        data-position="center-left"
      />
      <div class="wrapper">
        <div class="flow prose flex flex-col justify-center region">
          <div class="box">
            <h2>Our packages</h2>
          </div>
          <div class="switcher">
            <div
              class="drop box border-solid border-4 border-indigo-vivid-900 bg-indigo-200 text-indigo-900 flow prose z-10"
              style="--spot-color: var(--color-indigo-vivid-900);"
            >
              <h3>Brand Alignment</h3>
              <p>
                For established brands looking to update their online presence
                to reflect their current status, we offer bespoke web design
                solutions that ensure your digital identity aligns with your
                brand's evolution. Whether your site feels outdated or no longer
                represents your brand accurately, we refine your digital
                footprint to match your brand's current prestige.
              </p>
            </div>
            <div
              class="drop box border-solid border-4 border-indigo-vivid-900 bg-indigo-200 text-indigo-900 flow prose z-10"
              style="--spot-color: var(--color-indigo-vivid-900);"
            >
              <h3>Brand Elevation</h3>
              <p>
                For growing brands needing a comprehensive identity uplift,
                Hoverboard Media is your strategic partner. From total branding
                overhaul to polished web design, we elevate every aspect of your
                identity to resonate with and captivate your target audience,
                ensuring your brand's presence is competitive and reflective of
                your ambition.
              </p>
            </div>
          </div>
          <div class="box mx-auto">
            <a
              href="https://tidycal.com/frankstallone/hoverboard"
              aria-label="Book a call — opens new tab"
              target="_blank"
              class="button">Book a call</a
            >
          </div>
        </div>
      </div>
    </section>
    <section
      class="flow prose bg-magenta-100 text-magenta-900 border-b-4 border-b-magenta-vivid-900 region"
    >
      <h2 class="mt-zero wrapper">Case Study: Brand Alignment</h2>
      <div class="flex flex-col flow min-[990px]:grid" data-layout="twelfths">
        <Picture
          src={caseStudy01}
          widths={[300, 800, 2000, caseStudy01.width]}
          sizes={`(max-width: 300px) 300px, (max-width: 800px) 800px, (max-width: 1600px) 2000px, ${caseStudy01.width}px`}
          pictureAttributes={{
            class:
              'object-contain h-full w-full min-[990px]:row-start-1 min-[990px]:row-span-10 min-[990px]:col-start-7 min-[990px]:col-span-6 z-10',
          }}
          class={'object-contain h-full w-full min-[990px]:row-start-1 min-[990px]:row-span-10 min-[990px]:col-start-7 min-[990px]:col-span-6 z-10'}
          alt="Local area franchisee website design"
          formats={['avif', 'webp']}
          loading="lazy"
        />
        <div
          class="min-[990px]:row-start-3 min-[990px]:row-span-4 min-[990px]:col-start-1 min-[990px]:col-span-8 lg:col-start-2 lg:row-start-3 lg:row-span-4 lg:col-span-7"
        >
          <div
            class="drop box prose flow bg-white border-4 border-magenta-vivid-900 min-[990px]:pr-4xl mx-m"
            style="--spot-color: var(--color-magenta-vivid-900);"
          >
            <h3 class="mt-zero">Ice Cream Plano</h3>
            <p>
              A franchisee reached out to us looking to bring in more customers.
              We built a quick website using the existing photography, and brand
              collateral. The aim was for this single-page website to draw in
              the local area crowd interested in ice cream.
            </p>
            <p>
              In just a few days this page was live. We had a coupon code to
              track who came to the site, and talked about how fantastic the
              product was just around the corner. We included product
              information, without prices, then presented a distinct call to
              action.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section
      id="case-studies"
      class="flow prose bg-blue-100 text-blue-900 border-b-4 border-b-blue-vivid-900 region"
    >
      <h2 class="mt-zero wrapper">Case Study: Brand Elevation</h2>
      <div class="flex flex-col flow min-[990px]:grid" data-layout="twelfths">
        <Picture
          src={caseStudy02}
          widths={[300, 800, 2000, caseStudy02.width]}
          sizes={`(max-width: 300px) 300px, (max-width: 800px) 800px, (max-width: 1600px) 2000px, ${caseStudy02.width}px`}
          pictureAttributes={{
            class:
              'object-contain h-full w-full min-[990px]:row-start-1 min-[990px]:row-span-10 min-[990px]:col-start-7 min-[990px]:col-span-6 z-10',
          }}
          class={'object-contain h-full w-full min-[990px]:row-start-1 min-[990px]:row-span-10 min-[990px]:col-start-7 min-[990px]:col-span-6 z-10'}
          alt="Brand evelvation for Loumarc Signs"
          formats={['avif', 'webp']}
          loading="lazy"
        />
        <div
          class="min-[990px]:row-start-3 min-[990px]:row-span-6 min-[990px]:col-start-1 min-[990px]:col-span-8 lg:col-start-2 lg:row-start-3 lg:row-span-5 lg:col-span-7"
        >
          <div
            class="drop box prose flow bg-white border-4 border-blue-vivid-900 min-[990px]:pr-4xl mx-m"
            style="--spot-color: var(--color-blue-vivid-900);"
          >
            <h3 class="mt-zero">Loumarc Signs</h3>
            <p>
              Loumarc Signs is a custom sign company that's been in business for
              over 30 years. I led them through a series of workshops to
              completely revamp their brand, helping them to a new level of
              clarity in who they are and who they serve. This included a new
              logo, brand guide, business cards, custom website design, deep
              keyphrase content analysis, and other marketing materials.
            </p>
            <p>
              The challenge was to take the foundation of who Loumarc Signs
              were, and evolve them into what they wanted to become. They had
              been in business for a long time, and over the years their
              client's needs had changed.
            </p>
            <p>
              I started with in-person discovery workshops with five key
              stakeholders, all who specialized in different areas of the
              business. From those insights we created a new identity including
              logo, brand guide, custom website, and much more.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="contact" class="bg-gray-300 border-b-4 border-b-gray-1200">
      <div class="center region">
        <div class="box flow prose">
          <h2 class="mt-zero">Find out how we can help</h2>
          <p>
            If you have a question you'd like to know, and <a
              href="https://tidycal.com/frankstallone/hoverboard"
              target="_blank"
              aria-label="booking a call - opens a new tab">booking a call</a
            > isn't the most convenient, feel free to fill out this form. We'll get
            back to you within a few days.
          </p>
          <form
            name="main"
            netlify-honeypot="bot-field"
            class="switcher"
            method="POST"
            data-netlify="true"
            action="/#contact"
          >
            <input
              type="hidden"
              name="subject"
              value="Form: hoverboardmedia.com"
            />
            <p class="hidden">
              <label for="bot-field">Do you like delicious treats?</label>
              <input
                name="bot-field"
                id="bot-field"
                class="border-gray-700 border-1 border-solid"
              />
            </p>
            <span class="stack">
              <label for="name">Name</label>
              <input
                id="name"
                class="text-blue-1000"
                name="name"
                type="text"
                required
                aria-required="true"
                class="border-gray-700 border-1 border-solid"
              />
            </span>
            <span class="stack">
              <label for="email">Email</label>
              <input
                id="email"
                class="text-blue-1000"
                name="email"
                type="email"
                required
                aria-required="true"
                class="border-gray-700 border-1 border-solid"
              />
            </span>
            <span class="stack">
              <label for="tel">Phone number</label>
              <input
                id="tel"
                class="text-blue-1000"
                name="tel"
                type="tel"
                class="border-gray-700 border-1 border-solid"
              />
            </span>
            <span class="stack">
              <label for="message">Message</label>
              <textarea
                name="message"
                id="message"
                class="text-blue-1000"
                rows="6"
                required
                aria-required="true"
                class="border-gray-700 border-1 border-solid"></textarea>
            </span>
            <button type="submit" id="formSubmit" class="button">Submit</button>
          </form>
        </div>
      </div>
    </section>
  </article>
  <footer class="relative z-10 overflow-clip bg-gray-200">
    <section class="region wrapper flow z-10 relative">
      <ul role="list" class="flex flex-col gap-l md:grid" data-layout="thirds">
        <li>
          <ul
            role="list"
            class="flex flex-col gap-s text-step-00 text-center md:text-left max-w-[50ch] mx-auto"
          >
            <li><a href="#case-studies">Case studies</a></li>
            <li><a href="#packages">See our packages</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </li>
        <li class="flex flex-col flow items-center justify-end">
          <div
            class="flex flex-col items-center md:flex-row md:items-start space-y-2xs md:space-y-zero text-center md:text-left"
          >
            <svg
              viewBox="0 0 51 114"
              xmlns="http://www.w3.org/2000/svg"
              class="w-auto h-2xl"
            >
              <title>New Jersey</title>
              <path
                d="M48.3217 46.8572C48.0918 48.7476 47.8766 50.5339 48.1195 51.9878C48.5342 54.4606 48.4852 60.7216 48.0096 66.2386C47.7436 69.3224 47.3621 71.9802 46.9114 73.9247C46.203 76.9705 45.5547 77.2956 45.5279 77.3085C43.0638 78.4242 43.0463 80.0654 43.0296 81.8017C43.0204 82.7197 43.0103 83.7615 42.6935 85.0287C41.745 88.8098 41.2241 89.9208 38.9752 92.9502C37.3635 95.1252 37.5325 97.1755 37.6942 99.1575C37.793 100.37 37.8863 101.517 37.5935 102.73C37.1428 104.597 36.2349 105.663 35.3547 106.693C34.7313 107.426 34.0839 108.183 33.6489 109.171C32.8694 110.934 32.3301 111.396 29.189 111.523C28.693 111.543 28.4085 111.52 28.2525 111.493C28.3707 111.096 28.7881 110.319 29.165 109.62C29.503 108.989 29.8881 108.276 30.2899 107.446C30.7249 106.553 31.1082 105.534 30.6547 104.741C30.2326 103.999 29.4097 103.931 28.7484 103.877C27.7297 103.794 27.6595 103.712 27.6355 103.178C27.5912 102.177 27.4453 101.194 26.7055 100.765C25.9685 100.336 25.1936 100.733 24.4446 101.116C24.0631 101.312 23.63 101.533 23.1627 101.69C22.8847 101.781 22.6454 101.873 22.433 101.954C21.1862 102.432 20.6164 102.65 14.7757 100.597C12.3144 99.7329 11.5773 99.3136 11.3668 99.1233C11.3741 99.0891 11.3834 99.0531 11.3889 99.0227C11.5561 98.2626 11.6226 97.3316 10.3176 95.8991L10.2686 95.8474C9.65446 95.175 9.24808 94.7308 8.96824 94.4528C8.69486 94.1831 8.28296 93.7731 7.71496 93.8682C7.44898 93.9134 7.26611 94.0446 7.13681 94.1905C5.3303 90.8158 4.56372 87.212 3.98649 84.0571C3.26795 80.13 7.44435 76.5392 9.78561 75.7954C12.7817 74.8609 14.1384 73.657 15.1682 71.0278C15.5053 70.1616 15.8008 69.1427 16.113 68.0626C16.6699 66.1344 17.3026 63.9474 18.1874 62.9069C19.0167 61.9274 20.3651 60.1483 21.3912 58.6729C23.5367 55.5909 23.5256 55.05 23.2596 54.5342C23.0768 54.1695 22.3832 53.4883 8.70411 42.1434C6.01004 39.9096 3.88213 38.1449 3.49607 37.8017C3.27811 37.6094 3.1525 37.1548 3.15989 36.5815C3.17744 35.3397 3.78515 33.9056 4.57019 33.2479C6.38409 31.7545 6.96594 30.4552 6.96594 27.9034C6.96594 27.1324 6.95301 26.6777 6.71103 26.286C6.37854 25.7541 5.83918 25.6857 5.36446 25.6264C4.84541 25.5618 4.06038 25.463 2.70826 24.895C2.37947 24.7549 2.23631 24.5698 2.19475 24.2338C1.92876 22.0557 6.03313 17.0365 7.43327 15.9887C9.29335 14.605 8.90822 11.1671 8.67825 9.11496C8.65331 8.8885 8.63022 8.6854 8.6136 8.51297C8.71058 7.91985 10.3157 5.84782 13.2324 2.94918C13.8401 3.41281 14.4691 3.99504 15.2144 4.7822C15.6494 5.23678 16.9682 6.62242 27.2245 9.5157C32.5028 11.0037 37.6443 12.1808 38.7045 12.3766C40.5101 12.7163 41.7967 13.5807 42.325 14.8099C42.3471 14.8601 42.5263 15.3742 42.0756 17.624C41.7911 19.0509 41.3635 20.6396 41.0514 21.7987C40.8916 22.3953 40.765 22.8644 40.6939 23.1753C40.5369 23.8366 39.8978 25.9374 39.5219 27.1234C39.0694 27.1216 38.6103 27.2708 38.1975 27.5709C36.5655 28.748 35.7122 31.9774 35.7122 34.5579C35.7122 35.3613 35.3889 36.089 35.1026 36.7306C34.7563 37.5124 34.3951 38.321 34.9428 39.0255C35.5866 39.8503 36.8048 39.951 42.7387 38.9266C45.1022 38.5187 46.7461 38.7362 47.6244 39.5718C49.0412 40.9196 48.6745 43.9369 48.3217 46.8572ZM50.0793 47.0692C50.4857 43.7158 50.9059 40.2493 48.8454 38.2886C47.521 37.029 45.4254 36.6659 42.4367 37.1799C39.6401 37.6633 37.7607 37.9076 36.8279 37.9076C36.7152 37.9076 36.6164 37.904 36.5295 37.8969C36.5859 37.755 36.6588 37.5897 36.7216 37.4495C37.044 36.727 37.4836 35.7386 37.4836 34.5579C37.4836 31.9935 38.3896 29.616 39.2347 29.0067C39.4369 28.8594 39.5367 28.8917 39.5903 28.9097C39.8849 29.0067 40.1989 28.9834 40.476 28.8451C40.7493 28.7066 40.9507 28.4695 41.0458 28.1784C41.2924 27.4182 42.2012 24.4979 42.4192 23.576C42.4838 23.2938 42.6131 22.8141 42.7618 22.2588C43.9338 17.9063 44.4695 15.3184 43.9532 14.1108C43.1839 12.3227 41.4355 11.0881 39.0278 10.6353C37.9869 10.443 32.9285 9.28388 27.7057 7.81022C18.8699 5.31953 16.9239 4.0076 16.4991 3.56197C15.4859 2.49266 14.6538 1.75768 13.8004 1.17546C13.3598 0.875295 12.7632 0.929232 12.3808 1.303C11.6595 2.00926 10.2668 3.40385 9.06707 4.79476C7.02505 7.1579 6.79323 8.04029 6.84772 8.64052C6.86526 8.82921 6.8902 9.05557 6.91883 9.31085C7.06845 10.6514 7.42033 13.7909 6.37485 14.569C5.12433 15.5035 0.0308263 21.1283 0.437199 24.4494C0.555416 25.4216 1.10216 26.1386 2.02019 26.5268C3.59858 27.1899 4.5665 27.3121 5.14558 27.384C5.16035 27.3858 5.1742 27.3876 5.18898 27.3894C5.1936 27.5673 5.1936 27.783 5.1936 27.9034C5.1936 29.9179 4.83433 30.7355 3.43789 31.8857C2.25571 32.8759 1.41341 34.797 1.3894 36.5581C1.37554 37.6884 1.69695 38.5762 2.3222 39.1279C2.72858 39.4892 4.76137 41.1748 7.57181 43.5074C12.2673 47.4016 19.8849 53.7202 21.4938 55.201C20.9128 56.405 18.3665 59.956 16.8353 61.7603C15.7066 63.0919 15.0491 65.3688 14.4109 67.572C14.1116 68.6107 13.8272 69.592 13.5178 70.3809C12.6912 72.496 11.7353 73.3317 9.25363 74.1062C7.63461 74.6202 5.70803 76.0021 4.34761 77.6299C3.09894 79.1233 1.71819 81.5043 2.2437 84.3766C2.90129 87.9638 3.79808 92.1162 6.12456 95.9943C6.28988 96.2732 6.56879 96.4653 6.88835 96.5225C7.21068 96.5807 7.54132 96.4958 7.79808 96.2926C7.89505 96.2159 7.9791 96.1346 8.05298 96.0543C8.29588 96.3129 8.60529 96.6509 8.96271 97.0425L9.00889 97.0942C9.80501 97.9679 9.7348 98.2967 9.65815 98.6449C9.30072 100.284 10.361 100.924 14.1883 102.268C20.3291 104.425 21.2656 104.297 23.0675 103.607C23.2707 103.53 23.4813 103.449 23.7205 103.37C24.3171 103.172 24.8362 102.906 25.2527 102.692C25.4162 102.608 25.6175 102.505 25.7801 102.433C25.8115 102.593 25.8475 102.851 25.8678 103.256C25.9611 105.426 27.7454 105.573 28.6025 105.643C28.7447 105.654 28.9331 105.671 29.0698 105.692C29.0394 105.852 28.9498 106.154 28.6967 106.671C28.3097 107.471 27.9357 108.166 27.605 108.781C26.6676 110.522 26.1015 111.573 26.6731 112.483C27.0952 113.157 27.92 113.302 28.8075 113.302C28.9572 113.302 29.1095 113.298 29.2619 113.292C32.8602 113.146 34.1523 112.414 35.2698 109.886C35.6004 109.135 36.1112 108.536 36.7022 107.843C37.6692 106.709 38.7655 105.424 39.3169 103.147C39.6743 101.656 39.5653 100.313 39.4591 99.0116C39.3113 97.206 39.1839 95.6442 40.3984 94.0049C42.7729 90.8047 43.4111 89.4461 44.4113 85.4581C44.778 83.9887 44.7909 82.7862 44.8001 81.8174C44.8158 80.1836 44.8232 79.5731 46.2575 78.922C47.2707 78.4639 48.004 77.0462 48.6367 74.3255C49.1077 72.3002 49.5011 69.556 49.7745 66.3914C50.2686 60.6533 50.3093 54.3366 49.8659 51.6967C49.6665 50.4926 49.8678 48.8303 50.0793 47.0692Z"
                fill="currentColor"></path>
            </svg>
            <div class="md:ml-s md:self-center">
              <p class="mt-zero leading-tight">
                <small class="text-step-000"
                  >Elevating design on the web <br /> in the garden state since 2013.</small
                >
              </p>
            </div>
          </div>
        </li>
        <li class="flex flex-col justify-center items-center space-y-xs">
          <svg
            viewBox="0 0 40 40"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            class="w-xl h-auto"
          >
            <title>Hoverboard Media logo</title>
            <path
              id="ring"
              fill="currentColor"
              d="M25.958,36.376c-9.025,3.291 -19.003,-1.372 -22.288,-10.416c-3.284,-9.045 1.368,-19.045 10.393,-22.337c9.024,-3.292 19.001,1.373 22.286,10.416c3.285,9.044 -1.368,19.046 -10.391,22.337m13.174,-18.123l0.23,-3.349l-1.871,-2.785l-0.867,-3.242l-2.672,-2.024l-1.871,-2.784l-3.183,-1.045l-2.671,-2.026l-3.349,0.048l-3.183,-1.046l-3.152,1.134l-3.348,0.048l-2.614,2.098l-3.153,1.134l-1.792,2.836l-2.614,2.099l-0.776,3.265l-1.793,2.836l0.324,3.34l-0.777,3.266l1.388,3.055l0.323,3.34l2.303,2.437l1.388,3.056l2.968,1.556l2.302,2.437l3.312,0.507l2.966,1.556l3.296,-0.599l3.311,0.506l2.923,-1.638l3.295,-0.599l2.234,-2.501l2.922,-1.639l1.303,-3.093l2.234,-2.501l0.229,-3.349l1.303,-3.093l-0.868,-3.241Z"
            ></path>
            <g id="hm">
              <path
                id="left"
                fill="currentColor"
                d="M23.662,17.157c-1.188,0.433 -1.854,1.088 -2.342,1.708c0.206,0.417 0.38,0.822 0.556,1.307l2.918,8.035l-0.037,0.014l-2.675,0.976l-0.038,0.013l-3.023,-8.325c-0.45,-1.238 -1.282,-1.568 -2.566,-1.099c-1.259,0.458 -2.007,1.118 -2.529,1.721l3.421,9.416l-2.713,0.99l-7.545,-20.775c-2.749,4.034 -3.588,9.289 -1.793,14.229c2.957,8.146 11.943,12.345 20.07,9.381c2.082,-0.759 3.903,-1.917 5.415,-3.353l-4.835,-13.312c-0.415,-1.141 -1.218,-1.315 -2.284,-0.926"
              ></path>
              <path
                id="right"
                fill="currentColor"
                d="M14.654,5.251c-2.082,0.76 -3.903,1.917 -5.414,3.354l3.919,10.789c0.742,-0.903 1.684,-1.631 2.919,-2.081c0.072,-0.026 0.138,-0.045 0.208,-0.07l-0.001,-0.006c1.273,-0.464 2.243,-0.494 2.981,-0.213c0.21,0.065 0.407,0.149 0.592,0.254c0.809,-1.156 2.087,-2.106 3.402,-2.586c2.858,-1.042 4.561,0.096 5.397,2.402l4.274,11.767c2.749,-4.034 3.588,-9.289 1.794,-14.229c-2.958,-8.144 -11.944,-12.346 -20.071,-9.381"
              ></path>
            </g>
          </svg>
          <small class="text-step-000">Hoverboard Media © {date}</small>
        </li>
      </ul>
    </section>
  </footer>
</Layout>
