---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";

const date = new Date().getFullYear();

import amazingWork01 from "../assets/hackettstown-nj-single-page-marketing-site-limited-availability-01.png";
import amazingWork02 from "../assets/hackettstown-nj-single-page-marketing-site-limited-availability-04.png";
import amazingWork03 from "../assets/hackettstown-nj-single-page-marketing-site-limited-availability-05.png";
import headshot from "../assets/headshot-01.jpg";
---

<Layout
  title="Hoverboard Media // 20 years of elevated branding and web design"
>
  <div
    id="hero"
    class="bg-gradient bg-gradient-to-tr from-mint-vivid-300 to-blue-vivid-200 text-mint-vivid-900"
  >
    <header
      class="cluster box text-center justify-between bg-transparent text-white"
    >
      <a
        href="/"
        class="flex-justify-center items-center text-mint-900 hover:text-mint-vivid-800 transition duration-300 ease-in-out"
      >
        <svg
          viewBox="0 0 40 40"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          class="w-l h-auto"
        >
          <title>Hoverboard Media logo</title>
          <path
            id="ring"
            fill="currentColor"
            d="M25.958,36.376c-9.025,3.291 -19.003,-1.372 -22.288,-10.416c-3.284,-9.045 1.368,-19.045 10.393,-22.337c9.024,-3.292 19.001,1.373 22.286,10.416c3.285,9.044 -1.368,19.046 -10.391,22.337m13.174,-18.123l0.23,-3.349l-1.871,-2.785l-0.867,-3.242l-2.672,-2.024l-1.871,-2.784l-3.183,-1.045l-2.671,-2.026l-3.349,0.048l-3.183,-1.046l-3.152,1.134l-3.348,0.048l-2.614,2.098l-3.153,1.134l-1.792,2.836l-2.614,2.099l-0.776,3.265l-1.793,2.836l0.324,3.34l-0.777,3.266l1.388,3.055l0.323,3.34l2.303,2.437l1.388,3.056l2.968,1.556l2.302,2.437l3.312,0.507l2.966,1.556l3.296,-0.599l3.311,0.506l2.923,-1.638l3.295,-0.599l2.234,-2.501l2.922,-1.639l1.303,-3.093l2.234,-2.501l0.229,-3.349l1.303,-3.093l-0.868,-3.241Z"
          ></path>
          <g id="hm">
            <path
              id="left"
              fill="currentColor"
              d="M23.662,17.157c-1.188,0.433 -1.854,1.088 -2.342,1.708c0.206,0.417 0.38,0.822 0.556,1.307l2.918,8.035l-0.037,0.014l-2.675,0.976l-0.038,0.013l-3.023,-8.325c-0.45,-1.238 -1.282,-1.568 -2.566,-1.099c-1.259,0.458 -2.007,1.118 -2.529,1.721l3.421,9.416l-2.713,0.99l-7.545,-20.775c-2.749,4.034 -3.588,9.289 -1.793,14.229c2.957,8.146 11.943,12.345 20.07,9.381c2.082,-0.759 3.903,-1.917 5.415,-3.353l-4.835,-13.312c-0.415,-1.141 -1.218,-1.315 -2.284,-0.926"
            ></path>
            <path
              id="right"
              fill="currentColor"
              d="M14.654,5.251c-2.082,0.76 -3.903,1.917 -5.414,3.354l3.919,10.789c0.742,-0.903 1.684,-1.631 2.919,-2.081c0.072,-0.026 0.138,-0.045 0.208,-0.07l-0.001,-0.006c1.273,-0.464 2.243,-0.494 2.981,-0.213c0.21,0.065 0.407,0.149 0.592,0.254c0.809,-1.156 2.087,-2.106 3.402,-2.586c2.858,-1.042 4.561,0.096 5.397,2.402l4.274,11.767c2.749,-4.034 3.588,-9.289 1.794,-14.229c-2.958,-8.144 -11.944,-12.346 -20.071,-9.381"
            ></path>
          </g>
        </svg>
      </a>
    </header>
    <div class="wrapper flex flex-col justify-center bg-transparent" id="main">
      <div class="grid" data-layout="50-50">
        <div>
          <h1 class="text-step-5">Hackettstown Limited Offer</h1>
          <h2>
            Get your small business a high quality single-page marketing website
            <strong>for $500</strong>, <strong>live in a few days</strong>.
          </h2>
          <h3><em>No contacts, no BS, just excellent websites.</em></h3>
        </div>
        <div
          class="flex flex-col flow prose justify-center items-center text-center"
        >
          <h4 class="text-step-1 font-bold">
            A website that <span id="benefits"
              >will look good on any device.</span
            >
          </h4>
          <a
            href="https://forms.gle/tS7ajY7G5kkHSuQM8"
            class="button inline-block mx-auto">Fill out enrollment form</a
          >
        </div>
      </div>
    </div>
    <div
      class="flex flex-col flow md:grid region overflow-clip"
      data-layout="twelfths"
    >
      <Picture
        src={amazingWork01}
        widths={[300, 800, 2000, amazingWork01.width]}
        sizes={`(max-width: 300px) 300px, (max-width: 800px) 800px, (max-width: 1600px) 2000px, ${amazingWork01.width}px`}
        pictureAttributes={{
          class:
            "object-contain h-full w-full md:row-start-1 md:row-span-6 md:col-start-4 md:col-span-6 z-10 rotate-2 md:rotate-0 will-change-transform transition duration-300 ease-in-out hover:scale-105 hover:rotate-1",
        }}
        class={"object-contain h-full w-full md:row-start-1 md:row-span-6 md:col-start-4 md:col-span-6 z-10 rotate-2 md:rotate-0 will-change-transform transition duration-300 ease-in-out hover:scale-105 hover:rotate-1"}
        alt="Local area franchisee website design"
        formats={["avif", "webp"]}
        decoding="sync"
        loading="eager"
      />
      <Picture
        src={amazingWork02}
        widths={[300, 800, 2000, amazingWork02.width]}
        sizes={`(max-width: 300px) 300px, (max-width: 800px) 800px, (max-width: 1600px) 2000px, ${amazingWork02.width}px`}
        pictureAttributes={{
          class:
            "object-contain h-full w-full md:row-start-2 md:row-span-5 md:col-start-1 md:col-span-5 -rotate-2 will-change-transform transition duration-300 ease-in-out hover:scale-105 hover:-rotate-1",
        }}
        class={"object-contain h-full w-full md:row-start-2 md:row-span-5 md:col-start-1 md:col-span-5 -rotate-2 will-change-transform transition duration-300 ease-in-out hover:scale-105 hover:-rotate-1"}
        alt="Local area franchisee website design"
        formats={["avif", "webp"]}
        decoding="sync"
        loading="eager"
      />
      <Picture
        src={amazingWork03}
        widths={[300, 800, 2000, amazingWork03.width]}
        sizes={`(max-width: 300px) 300px, (max-width: 800px) 800px, (max-width: 1600px) 2000px, ${amazingWork03.width}px`}
        pictureAttributes={{
          class:
            "object-contain h-full w-full md:row-start-2 md:row-span-5 md:col-start-8 md:col-span-5 rotate-2 will-change-transform transition duration-300 ease-in-out hover:scale-105 hover:rotate-1",
        }}
        class={"object-contain h-full w-full md:row-start-2 md:row-span-5 md:col-start-8 md:col-span-5 rotate-2 will-change-transform transition duration-300 ease-in-out hover:scale-105 hover:rotate-1"}
        alt="Local area franchisee website design"
        formats={["avif", "webp"]}
        decoding="sync"
        loading="eager"
      />
    </div>
  </div>
  <article>
    <section>
      <div class="grid" data-layout="50-50" style="--gutter: 0;">
        <div
          class="box flow prose flex flex-col justify-center items-center text-blue-900 bg-blue-vivid-100 region"
        >
          <h2 class="mt-zero">What's the catch?</h2>
          <ul>
            <li>
              <strong>This is for our community</strong>. <br /> Hackettstown and
              nearby towns only.
            </li>
            <li>
              <strong>There is limited availability</strong>. <br /> I'll only be
              doing this for four businesses.
            </li>
            <li>
              <strong>This is a limited time offer</strong>. <br /> I'll only be
              accepting applicants from 1/31 until 4/6
            </li>
            <li>
              <strong>Hosting for one year</strong>. <br /> After that, it's $5 a
              month, or $50 a year
            </li>
            <li>Credit card payments, only</li>
          </ul>
        </div>
        <div
          class="box flow prose flex flex-col justify-center items-center text-indigo-900 bg-indigo-vivid-100 region"
        >
          <h2 class="mt-zero">What will I get?</h2>
          <ul>
            <li>
              A fully custom single-page website. Not some cookie cutter
              template.
            </li>
            <li>
              Distinct call to action via phone number, contact form, or Stripe
              payment links.
            </li>
            <li>
              Documentation. Everything we do will be neatly documented for your
              records.
            </li>
            <li>Full access to the design, and code.</li>
            <li>Premium stock photography.</li>
          </ul>
        </div>
      </div>
    </section>
    <section
      class="bg-gradient bg-gradient-to-tr from-magenta-vivid-100 to-gold-vivid-100"
    >
      <div class="region wrapper">
        <div class="flex flex-col md:grid" data-layout="twelfths">
          <div
            class="md:row-start-1 md:row-span-8 md:col-start-1 md:col-span-6 z-10"
          >
            <div class="box flow prose bg-orange-vivid-900 text-orange-200">
              <h2 class="mt-zero">Why are you doing this?</h2>
              <p>
                I started my career working at small businesses. I have an
                affinity for them, and love talking to owners about their
                business. After working in other agencies, enterprise, and start
                ups — I left it all to rebuild my own agency. Hoverboard Media
                was always my agency where I 'scratched the itch' for a small
                group of clients. As I am building this out, I have some time.
                What better to do than give that back?
              </p>
              <p>
                There are a few things I've learned throughout the decades of
                working on the web, but one thing remains. Highly performant,
                inclusive, and timeless designs attract the right audience. I
                build top shelf websites, fast.
              </p>
              <p>
                If you are interested, or you know someone who might be
                interested, send them this page, <a
                  href="https://forms.gle/tS7ajY7G5kkHSuQM8"
                  >and fill out this enrollment form</a
                >.
              </p>
              <p>Questions? Feel free to ask on the form below.</p>
              <div class="flex flex-col justify-center items-center space-y-xs">
                <svg
                  viewBox="0 0 238 209"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  style="transform: rotate(-2deg);"
                  class="w-auto h-2xl"
                  role="img"
                >
                  <title>Stallone Signature</title>
                  <path
                    d="M88.396,68.643c15.582,2.492 31.645,6.711 44.813,11.813c12.594,4.88 22.546,10.611 27.096,16.352c0.612,0.746 0.503,1.849 -0.244,2.461c-0.746,0.612 -1.849,0.503 -2.461,-0.243c-9.108,-10.754 -39.445,-20.34 -68.316,-24.247c2.114,15.1 4.489,35.437 6.477,55.622c2.461,1.345 4.841,2.689 7.109,4.034c11.071,6.569 19.451,13.416 22.312,20.244c6.12,14.676 1.568,26.806 -8.095,35.609c-4.673,4.256 -10.608,7.692 -17.069,10.202c-0.077,1.544 -0.194,2.846 -0.354,3.88c-0.144,0.954 -1.036,1.612 -1.991,1.468c-0.954,-0.144 -1.612,-1.036 -1.468,-1.99c0.088,-0.601 0.16,-1.294 0.217,-2.074c-10.188,3.331 -21.3,4.43 -30.663,2.911c-42.124,-6.871 -59.495,-35.527 -62.781,-69.39c-3.896,-40.141 12.369,-87.679 29.692,-112.944c4.901,-7.147 9.911,-12.539 14.559,-15.607c3.466,-2.287 6.799,-3.336 9.812,-3.126c6.85,0.479 12.432,5.295 16.707,12.258c9.374,15.271 12.663,40.853 13.093,43.229c0.484,2.667 1.007,5.882 1.555,9.538Zm8.171,124.995c-0.181,-11.235 -1.495,-28.599 -3.312,-47.37c-0.267,-2.754 -0.544,-5.539 -0.831,-8.339c-16.698,-9.183 -37.258,-18.437 -51.019,-28.533c-8.457,-6.205 -14.38,-12.872 -16.194,-19.733c-2.306,-8.787 1.218,-14.975 8.933,-18.85c6.417,-3.224 16.18,-4.72 27.594,-4.61c6.814,0.066 14.236,0.675 21.859,1.725c-0.488,-3.011 -0.952,-5.688 -1.385,-7.963c-0.384,-2.019 -2.99,-21.476 -9.91,-36.074c-3.763,-7.939 -8.65,-14.587 -15.605,-15.009c-2.019,-0.123 -4.19,0.764 -6.498,2.318c-4.169,2.807 -8.577,7.776 -12.942,14.266c-16.489,24.518 -31.858,70.484 -27.753,109.166c3.262,30.734 19.099,56.796 57.422,62.683c9.074,1.402 20.015,0.037 29.641,-3.677Zm0.143,-53.301c0.172,1.866 0.339,3.722 0.502,5.565c1.596,18.052 2.719,34.821 2.896,46.234c4.391,-2.039 8.396,-4.597 11.675,-7.628c7.186,-6.643 10.602,-15.732 5.94,-26.687c-2.404,-5.674 -9.81,-10.875 -19.033,-16.329c-0.651,-0.385 -1.312,-0.77 -1.98,-1.155Zm-12.138,-66.147c-2.829,-0.323 -5.631,-0.589 -8.386,-0.792c-16.084,-1.188 -30.5,-0.32 -38.641,4.003c-4.134,2.195 -6.19,5.48 -4.846,10.218c1.531,5.438 6.717,10.315 13.49,15.196c12.252,8.83 29.814,17.075 45.191,25.229c-2.145,-19.75 -4.633,-39.402 -6.808,-53.854Z"
                  ></path>
                  <path
                    d="M111.927,142.139c-3.914,-11.187 -7.471,-23.587 -9.432,-34.403c-1.683,-9.275 -2.14,-17.447 -0.923,-22.895c1.296,-5.81 4.436,-9.082 8.977,-9.62c4.105,-0.486 7.589,1.235 10.301,5.011c2.891,4.027 4.919,10.873 5.97,19.133c0.333,2.619 0.578,5.386 0.744,8.244c0.118,-6.134 0.879,-11.366 2.422,-14.914c1.698,-3.905 4.348,-6.111 7.634,-6.605c3.691,-0.556 6.87,1.589 8.663,6.714c2.11,6.031 2.435,17.281 1.521,29.606c-0.94,12.666 -3.126,26.485 -5.596,36.724c0.325,0.97 0.653,1.889 0.981,2.751c0.868,2.279 1.72,4.141 2.562,5.428c0.195,0.298 0.462,0.625 0.646,0.84c2.377,-0.749 4.127,-2.653 5.486,-4.834c2.32,-3.722 3.517,-8.31 4.073,-11.098c0.065,-0.918 0.222,-1.877 0.475,-2.879c0.31,-1.189 1.409,-2 2.637,-1.946c1.227,0.055 2.25,0.959 2.455,2.171c0.004,0.024 -0.024,0.418 -0.104,1.089l0.055,0.002c-0.041,0.152 -0.078,0.301 -0.111,0.449c-0.056,0.428 -0.13,0.933 -0.223,1.501c-0.196,3.009 1.276,5.233 3.885,6.794c4.256,2.546 10.959,3.586 18.573,3.646c16.607,0.13 37.456,-4.567 48.257,-10.855c0.909,-0.539 2.085,-0.239 2.624,0.67c0.539,0.909 0.239,2.085 -0.67,2.624c-13.166,7.953 -40.897,13.888 -58.993,11.785c-7.034,-0.817 -12.606,-2.897 -15.827,-6.299c-0.645,1.768 -1.444,3.554 -2.433,5.203c-2.234,3.725 -5.401,6.704 -9.599,7.675c-1.184,0.274 -2.488,0.039 -3.805,-0.955c-0.939,-0.707 -1.98,-1.97 -3.002,-3.761c-0.174,-0.306 -0.35,-0.631 -0.527,-0.973c-0.298,0.847 -0.595,1.622 -0.89,2.32c-1.063,2.51 -2.248,4.206 -3.242,5.077c-1.24,1.087 -2.532,1.447 -3.7,1.428c-1.073,-0.018 -2.455,-0.419 -3.87,-1.667c-1.148,-1.013 -2.611,-2.922 -4.176,-5.62c-0.79,-1.364 -1.632,-2.956 -2.508,-4.739c-4.041,9.514 -9.168,12.654 -13.323,12.817c-4.25,0.168 -8.212,-2.574 -10.587,-6.503c-2.301,-3.808 -3.04,-8.552 -1.585,-12.004c1.849,-4.39 5.402,-7.483 9.45,-9.178c2.478,-1.038 5.125,-1.551 7.636,-1.552c-1.486,-1.328 -3.008,-2.438 -4.555,-3.357c-12.209,-7.252 -25.7,-2.793 -34.466,-1.621c-1.047,0.149 -2.018,-0.579 -2.167,-1.625c-0.149,-1.047 0.579,-2.018 1.625,-2.167c9.452,-1.438 23.929,-6.069 37.268,1.527c0.466,0.265 0.93,0.545 1.394,0.841Zm5.206,13.734c-0.448,-0.563 -0.87,-1.041 -1.032,-1.221c-2.53,-0.787 -5.745,-0.467 -8.608,0.795c-2.647,1.167 -4.999,3.2 -6.163,6.116c-0.753,1.888 0.006,4.399 1.294,6.441c1.185,1.878 2.924,3.487 4.979,3.369c1.355,-0.078 2.681,-0.995 4.058,-2.713c1.622,-2.025 3.135,-5.055 4.514,-9.308c0.333,-1.026 0.653,-2.192 0.958,-3.479Zm17.745,-0.345c-2.847,-9.589 -5.383,-21.892 -6.597,-33.313c-0.182,-1.717 -0.332,-3.414 -0.448,-5.08c0.016,12.725 -1.235,26.025 -3.081,35.628c1.315,3.178 2.608,6.072 3.83,8.57c0.93,1.9 2.061,3.792 2.989,5.249c0.448,-1.111 0.9,-2.414 1.356,-3.876c0.658,-2.114 1.314,-4.534 1.951,-7.178Zm2.817,-13.949c1.091,-6.439 1.992,-13.268 2.559,-19.779c0.967,-11.085 1.069,-21.223 -0.75,-26.68c-0.224,-0.672 -0.463,-1.253 -0.767,-1.708c-0.067,-0.1 -0.182,-0.236 -0.248,-0.312c-0.656,0.141 -1.128,0.655 -1.555,1.319c-0.645,1.005 -1.133,2.309 -1.522,3.838c-1.461,5.75 -1.462,14.226 -0.642,23.321c0.596,6.603 1.635,13.525 2.925,20.001Zm-18.072,-2.366c0.869,-9.574 1.128,-20.559 0.457,-30.437c-0.617,-9.08 -1.974,-17.204 -4.561,-22.214c-1.081,-2.092 -2.165,-3.685 -3.996,-3.45c-0.723,0.093 -1.115,0.676 -1.451,1.395c-0.561,1.201 -0.846,2.757 -0.997,4.573c-0.564,6.744 1.049,16.497 3.614,26.915c1.895,7.695 4.336,15.736 6.934,23.218Z"
                  ></path>
                </svg>
              </div>
            </div>
          </div>
          <div
            class="md:row-start-2 md:row-span-6 md:col-start-6 md:col-span-6"
          >
            <Picture
              src={headshot}
              alt="Frank Stallone"
              widths={[240, 540, 720, headshot.width]}
              sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${headshot.width}px`}
              height={1664}
              width={1664}
              class="object-contain h-auto"
              format="avif"
              loading="eager"
              decoding="sync"
            />
          </div>
        </div>
      </div>
    </section>
    <section
      class="bg-gradient bg-gradient-to-br from-magenta-vivid-100 to-gold-vivid-100 text-gold-vivid-800"
    >
      <div class="region center text-center">
        <a
          href="https://forms.gle/tS7ajY7G5kkHSuQM8"
          class="button inline-block mx-auto">Fill out enrollment form</a
        >
      </div>
    </section>
    <section
      id="contact"
      class="bg-gradient bg-gradient-to-tr from-magenta-vivid-100 to-gold-vivid-100"
    >
      <div class="center region">
        <div class="box flow prose bg-blue-vivid-900 text-blue-100">
          <h2 class="mt-zero">Questions?</h2>
          <p>
            Feel free to reach out. Let me know if you prefer email, a call or
            text!
          </p>
          <form
            name="main"
            netlify-honeypot="bot-field"
            class="switcher"
            method="POST"
            data-netlify="true"
            action="/#contact"
          >
            <input
              type="hidden"
              name="subject"
              value="Form: hoverboardmedia.com"
            />
            <p class="hidden">
              <label for="bot-field">Do you like delicious treats?</label>
              <input
                name="bot-field"
                id="bot-field"
                class="border-gray-700 border-1 border-solid"
              />
            </p>
            <span class="stack">
              <label for="name">Name</label>
              <input
                id="name"
                class="text-blue-1000"
                name="name"
                type="text"
                required
                class="border-gray-700 border-1 border-solid"
              />
            </span>
            <span class="stack">
              <label for="email">Email</label>
              <input
                id="email"
                class="text-blue-1000"
                name="email"
                type="email"
                required
                class="border-gray-700 border-1 border-solid"
              />
            </span>
            <span class="stack">
              <label for="tel">Phone number</label>
              <input
                id="tel"
                class="text-blue-1000"
                name="tel"
                type="tel"
                class="border-gray-700 border-1 border-solid"
              />
            </span>
            <span class="stack">
              <label for="message">Message</label>
              <textarea
                name="message"
                id="message"
                class="text-blue-1000"
                rows="6"
                required
                class="border-gray-700 border-1 border-solid"></textarea>
            </span>
            <button
              type="submit"
              id="formSubmit"
              class="button bg-blue-300 text-blue-900 hover:bg-blue-400 min-w-full"
              >Submit</button
            >
          </form>
        </div>
      </div>
    </section>
  </article>
  <footer
    class="relative z-10 overflow-clip bg-gradient bg-gradient-to-br from-magenta-vivid-100 to-gold-vivid-100 text-gold-vivid-800"
  >
    <section class="region wrapper flow z-10 relative">
      <ul role="list" class="grid" data-layout="50-50">
        <li class="flex flex-col flow items-center justify-end">
          <div
            class="flex flex-col items-center md:flex-row md:items-start space-y-2xs md:space-y-zero text-center md:text-left"
          >
            <svg
              viewBox="0 0 51 114"
              xmlns="http://www.w3.org/2000/svg"
              class="w-auto h-2xl"
            >
              <title>New Jersey</title>
              <path
                d="M48.3217 46.8572C48.0918 48.7476 47.8766 50.5339 48.1195 51.9878C48.5342 54.4606 48.4852 60.7216 48.0096 66.2386C47.7436 69.3224 47.3621 71.9802 46.9114 73.9247C46.203 76.9705 45.5547 77.2956 45.5279 77.3085C43.0638 78.4242 43.0463 80.0654 43.0296 81.8017C43.0204 82.7197 43.0103 83.7615 42.6935 85.0287C41.745 88.8098 41.2241 89.9208 38.9752 92.9502C37.3635 95.1252 37.5325 97.1755 37.6942 99.1575C37.793 100.37 37.8863 101.517 37.5935 102.73C37.1428 104.597 36.2349 105.663 35.3547 106.693C34.7313 107.426 34.0839 108.183 33.6489 109.171C32.8694 110.934 32.3301 111.396 29.189 111.523C28.693 111.543 28.4085 111.52 28.2525 111.493C28.3707 111.096 28.7881 110.319 29.165 109.62C29.503 108.989 29.8881 108.276 30.2899 107.446C30.7249 106.553 31.1082 105.534 30.6547 104.741C30.2326 103.999 29.4097 103.931 28.7484 103.877C27.7297 103.794 27.6595 103.712 27.6355 103.178C27.5912 102.177 27.4453 101.194 26.7055 100.765C25.9685 100.336 25.1936 100.733 24.4446 101.116C24.0631 101.312 23.63 101.533 23.1627 101.69C22.8847 101.781 22.6454 101.873 22.433 101.954C21.1862 102.432 20.6164 102.65 14.7757 100.597C12.3144 99.7329 11.5773 99.3136 11.3668 99.1233C11.3741 99.0891 11.3834 99.0531 11.3889 99.0227C11.5561 98.2626 11.6226 97.3316 10.3176 95.8991L10.2686 95.8474C9.65446 95.175 9.24808 94.7308 8.96824 94.4528C8.69486 94.1831 8.28296 93.7731 7.71496 93.8682C7.44898 93.9134 7.26611 94.0446 7.13681 94.1905C5.3303 90.8158 4.56372 87.212 3.98649 84.0571C3.26795 80.13 7.44435 76.5392 9.78561 75.7954C12.7817 74.8609 14.1384 73.657 15.1682 71.0278C15.5053 70.1616 15.8008 69.1427 16.113 68.0626C16.6699 66.1344 17.3026 63.9474 18.1874 62.9069C19.0167 61.9274 20.3651 60.1483 21.3912 58.6729C23.5367 55.5909 23.5256 55.05 23.2596 54.5342C23.0768 54.1695 22.3832 53.4883 8.70411 42.1434C6.01004 39.9096 3.88213 38.1449 3.49607 37.8017C3.27811 37.6094 3.1525 37.1548 3.15989 36.5815C3.17744 35.3397 3.78515 33.9056 4.57019 33.2479C6.38409 31.7545 6.96594 30.4552 6.96594 27.9034C6.96594 27.1324 6.95301 26.6777 6.71103 26.286C6.37854 25.7541 5.83918 25.6857 5.36446 25.6264C4.84541 25.5618 4.06038 25.463 2.70826 24.895C2.37947 24.7549 2.23631 24.5698 2.19475 24.2338C1.92876 22.0557 6.03313 17.0365 7.43327 15.9887C9.29335 14.605 8.90822 11.1671 8.67825 9.11496C8.65331 8.8885 8.63022 8.6854 8.6136 8.51297C8.71058 7.91985 10.3157 5.84782 13.2324 2.94918C13.8401 3.41281 14.4691 3.99504 15.2144 4.7822C15.6494 5.23678 16.9682 6.62242 27.2245 9.5157C32.5028 11.0037 37.6443 12.1808 38.7045 12.3766C40.5101 12.7163 41.7967 13.5807 42.325 14.8099C42.3471 14.8601 42.5263 15.3742 42.0756 17.624C41.7911 19.0509 41.3635 20.6396 41.0514 21.7987C40.8916 22.3953 40.765 22.8644 40.6939 23.1753C40.5369 23.8366 39.8978 25.9374 39.5219 27.1234C39.0694 27.1216 38.6103 27.2708 38.1975 27.5709C36.5655 28.748 35.7122 31.9774 35.7122 34.5579C35.7122 35.3613 35.3889 36.089 35.1026 36.7306C34.7563 37.5124 34.3951 38.321 34.9428 39.0255C35.5866 39.8503 36.8048 39.951 42.7387 38.9266C45.1022 38.5187 46.7461 38.7362 47.6244 39.5718C49.0412 40.9196 48.6745 43.9369 48.3217 46.8572ZM50.0793 47.0692C50.4857 43.7158 50.9059 40.2493 48.8454 38.2886C47.521 37.029 45.4254 36.6659 42.4367 37.1799C39.6401 37.6633 37.7607 37.9076 36.8279 37.9076C36.7152 37.9076 36.6164 37.904 36.5295 37.8969C36.5859 37.755 36.6588 37.5897 36.7216 37.4495C37.044 36.727 37.4836 35.7386 37.4836 34.5579C37.4836 31.9935 38.3896 29.616 39.2347 29.0067C39.4369 28.8594 39.5367 28.8917 39.5903 28.9097C39.8849 29.0067 40.1989 28.9834 40.476 28.8451C40.7493 28.7066 40.9507 28.4695 41.0458 28.1784C41.2924 27.4182 42.2012 24.4979 42.4192 23.576C42.4838 23.2938 42.6131 22.8141 42.7618 22.2588C43.9338 17.9063 44.4695 15.3184 43.9532 14.1108C43.1839 12.3227 41.4355 11.0881 39.0278 10.6353C37.9869 10.443 32.9285 9.28388 27.7057 7.81022C18.8699 5.31953 16.9239 4.0076 16.4991 3.56197C15.4859 2.49266 14.6538 1.75768 13.8004 1.17546C13.3598 0.875295 12.7632 0.929232 12.3808 1.303C11.6595 2.00926 10.2668 3.40385 9.06707 4.79476C7.02505 7.1579 6.79323 8.04029 6.84772 8.64052C6.86526 8.82921 6.8902 9.05557 6.91883 9.31085C7.06845 10.6514 7.42033 13.7909 6.37485 14.569C5.12433 15.5035 0.0308263 21.1283 0.437199 24.4494C0.555416 25.4216 1.10216 26.1386 2.02019 26.5268C3.59858 27.1899 4.5665 27.3121 5.14558 27.384C5.16035 27.3858 5.1742 27.3876 5.18898 27.3894C5.1936 27.5673 5.1936 27.783 5.1936 27.9034C5.1936 29.9179 4.83433 30.7355 3.43789 31.8857C2.25571 32.8759 1.41341 34.797 1.3894 36.5581C1.37554 37.6884 1.69695 38.5762 2.3222 39.1279C2.72858 39.4892 4.76137 41.1748 7.57181 43.5074C12.2673 47.4016 19.8849 53.7202 21.4938 55.201C20.9128 56.405 18.3665 59.956 16.8353 61.7603C15.7066 63.0919 15.0491 65.3688 14.4109 67.572C14.1116 68.6107 13.8272 69.592 13.5178 70.3809C12.6912 72.496 11.7353 73.3317 9.25363 74.1062C7.63461 74.6202 5.70803 76.0021 4.34761 77.6299C3.09894 79.1233 1.71819 81.5043 2.2437 84.3766C2.90129 87.9638 3.79808 92.1162 6.12456 95.9943C6.28988 96.2732 6.56879 96.4653 6.88835 96.5225C7.21068 96.5807 7.54132 96.4958 7.79808 96.2926C7.89505 96.2159 7.9791 96.1346 8.05298 96.0543C8.29588 96.3129 8.60529 96.6509 8.96271 97.0425L9.00889 97.0942C9.80501 97.9679 9.7348 98.2967 9.65815 98.6449C9.30072 100.284 10.361 100.924 14.1883 102.268C20.3291 104.425 21.2656 104.297 23.0675 103.607C23.2707 103.53 23.4813 103.449 23.7205 103.37C24.3171 103.172 24.8362 102.906 25.2527 102.692C25.4162 102.608 25.6175 102.505 25.7801 102.433C25.8115 102.593 25.8475 102.851 25.8678 103.256C25.9611 105.426 27.7454 105.573 28.6025 105.643C28.7447 105.654 28.9331 105.671 29.0698 105.692C29.0394 105.852 28.9498 106.154 28.6967 106.671C28.3097 107.471 27.9357 108.166 27.605 108.781C26.6676 110.522 26.1015 111.573 26.6731 112.483C27.0952 113.157 27.92 113.302 28.8075 113.302C28.9572 113.302 29.1095 113.298 29.2619 113.292C32.8602 113.146 34.1523 112.414 35.2698 109.886C35.6004 109.135 36.1112 108.536 36.7022 107.843C37.6692 106.709 38.7655 105.424 39.3169 103.147C39.6743 101.656 39.5653 100.313 39.4591 99.0116C39.3113 97.206 39.1839 95.6442 40.3984 94.0049C42.7729 90.8047 43.4111 89.4461 44.4113 85.4581C44.778 83.9887 44.7909 82.7862 44.8001 81.8174C44.8158 80.1836 44.8232 79.5731 46.2575 78.922C47.2707 78.4639 48.004 77.0462 48.6367 74.3255C49.1077 72.3002 49.5011 69.556 49.7745 66.3914C50.2686 60.6533 50.3093 54.3366 49.8659 51.6967C49.6665 50.4926 49.8678 48.8303 50.0793 47.0692Z"
                fill="currentColor"></path>
            </svg>
            <div class="md:ml-s md:self-center">
              <p class="mt-zero leading-tight">
                <small class="text-step-000"
                  >Elevating design on the web <br /> in the garden state since 2013.</small
                >
              </p>
            </div>
          </div>
        </li>
        <li class="flex flex-col justify-center items-center space-y-xs">
          <svg
            viewBox="0 0 40 40"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            class="w-xl h-auto"
          >
            <title>Hoverboard Media logo</title>
            <path
              id="ring"
              fill="currentColor"
              d="M25.958,36.376c-9.025,3.291 -19.003,-1.372 -22.288,-10.416c-3.284,-9.045 1.368,-19.045 10.393,-22.337c9.024,-3.292 19.001,1.373 22.286,10.416c3.285,9.044 -1.368,19.046 -10.391,22.337m13.174,-18.123l0.23,-3.349l-1.871,-2.785l-0.867,-3.242l-2.672,-2.024l-1.871,-2.784l-3.183,-1.045l-2.671,-2.026l-3.349,0.048l-3.183,-1.046l-3.152,1.134l-3.348,0.048l-2.614,2.098l-3.153,1.134l-1.792,2.836l-2.614,2.099l-0.776,3.265l-1.793,2.836l0.324,3.34l-0.777,3.266l1.388,3.055l0.323,3.34l2.303,2.437l1.388,3.056l2.968,1.556l2.302,2.437l3.312,0.507l2.966,1.556l3.296,-0.599l3.311,0.506l2.923,-1.638l3.295,-0.599l2.234,-2.501l2.922,-1.639l1.303,-3.093l2.234,-2.501l0.229,-3.349l1.303,-3.093l-0.868,-3.241Z"
            ></path>
            <g id="hm">
              <path
                id="left"
                fill="currentColor"
                d="M23.662,17.157c-1.188,0.433 -1.854,1.088 -2.342,1.708c0.206,0.417 0.38,0.822 0.556,1.307l2.918,8.035l-0.037,0.014l-2.675,0.976l-0.038,0.013l-3.023,-8.325c-0.45,-1.238 -1.282,-1.568 -2.566,-1.099c-1.259,0.458 -2.007,1.118 -2.529,1.721l3.421,9.416l-2.713,0.99l-7.545,-20.775c-2.749,4.034 -3.588,9.289 -1.793,14.229c2.957,8.146 11.943,12.345 20.07,9.381c2.082,-0.759 3.903,-1.917 5.415,-3.353l-4.835,-13.312c-0.415,-1.141 -1.218,-1.315 -2.284,-0.926"
              ></path>
              <path
                id="right"
                fill="currentColor"
                d="M14.654,5.251c-2.082,0.76 -3.903,1.917 -5.414,3.354l3.919,10.789c0.742,-0.903 1.684,-1.631 2.919,-2.081c0.072,-0.026 0.138,-0.045 0.208,-0.07l-0.001,-0.006c1.273,-0.464 2.243,-0.494 2.981,-0.213c0.21,0.065 0.407,0.149 0.592,0.254c0.809,-1.156 2.087,-2.106 3.402,-2.586c2.858,-1.042 4.561,0.096 5.397,2.402l4.274,11.767c2.749,-4.034 3.588,-9.289 1.794,-14.229c-2.958,-8.144 -11.944,-12.346 -20.071,-9.381"
              ></path>
            </g>
          </svg>
          <small class="text-step-000">Hoverboard Media © {date}</small>
        </li>
      </ul>
    </section>
  </footer>
</Layout>
<script>
  import Typed from "typed.js";
  const typed = new Typed("#benefits", {
    strings: ["will stand the test of time.", "is accessible.", "is fast."],
    startDelay: 1500,
    showCursor: false,
    typeSpeed: 50,
    backSpeed: 40,
    backDelay: 2000,
  });

  const formButton = document.getElementById("formSubmit") as HTMLButtonElement;
  formButton.addEventListener("click", function () {
    formButton.innerHTML = "Thank you for your submission";
    // Add disabled attribute to form button
    formButton.setAttribute("disabled", "disabled");
  });
</script>
